/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  background-color: #2D3647;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Damion', cursive;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

textarea {
  font-family: 'Lato', sans-serif; 
}

/* body,
button,
html,
input,
select,
textarea {
  color: #4d4d4d;
  font: 14px "Helvetica Neue", Helvetica, sans-serif;
  line-height: 20px;
} */

/* div {
  display: flex;
  flex: 1;
} */

.darkblue-bg {
  background-color: #2D3647;
}

.lightblue-bg {
  background-color: #3CAFF0;
}

.lightgrey-bg {
  background-color: #D2D7DF;
}

.green-bg {
  background-color: #85D391;
}

.red-bg {
  background: #D34A4C;
}

.darkblue-text {
  color: #2D3647;
}

.lightblue-text {
  color: #3CAFF0;
}

.lightgrey-text {
  color: #D2D7DF;
}

.green-text {
  color: #85D391;
}

.red-text {
  color: #D34A4C;
}

.white-text {
  color: #fff;
}

.site-header {
  float: left;
  flex: none; 
}

.navbar-fixed-col {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box: 0;
  -moz-box: 0;
  -webkit-flex: 0 1 auto;
  -ms-flexbox: 0 1 auto;
  flex: 0 1 auto;
  max-width: 100%;
  padding: 20px;
}

.navbar-fixed-col ul li {
  list-style-type: none;
  float: left;
  margin: 5px;
}

.navbar-fixed-col ul li a i {
  font-size: 2em;
}

.nav-color {
  background-color: #3CAFF0;
}

.nav-color ul li a:link {
  color: #D2D7DF;
}

.nav-color ul li a:visited {
  color: #D2D7DF;
}

.nav-color ul li a:hover {
  color: #fff;
}

.nav-color ul li a:active {
  color: #fff;
}

ul li a i {
  color: #D2D7DF;
  transition: .3s ease-in-out;
  
}

ul li a i:hover {
  color: #fff;
}

.logo-span {
  font-family: 'Damion', cursive;
  font-size: 2.5em;
  max-height: max-content;
  user-select: none;
  cursor: pointer;
}

#dashboardLink {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  cursor: pointer;
  user-select: none;
  transition: .3s ease-in-out;
}

#dashboardIcon {
  transition: .3s ease-in-out;
  font-size: 2em;
  cursor: pointer;
}

#dashboardLink:hover {
  color: #fff;
}

#dashboardIcon:hover {
  color: #fff;
}

#container {
  margin-top: 5%;
  margin: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

#board {
  flex-direction: column;
}

.newitem-title-wrapper {
  margin: 4px 10px;
}

#trello-list-title-input {
  width: 100%;
  height: 22px;
  margin-bottom: 5px;
  border: none;
  box-shadow: none;
}

.list {
  background: #ccc;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 270px;
  -ms-flex: 0 0 270px;
  flex: 0 0 270px;
  /* margin: 0 5px; */
  margin: 20px;
  max-height: 100%;
  position: relative;
  width: 270px;
  max-width: 270px;
  cursor: pointer;
}

.list-top {
  display: flex;
  flex-direction: row;
}

.list-title {
  box-sizing: border-box;
  min-height: 30px;
  padding: 8px 34px 8px 10px;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  user-select: none;
  /* background: url(../images/trash-alt-regular.svg) no-repeat; */
}

.list-trash-container {
  max-height: max-content;
  max-width: max-content;
  cursor: pointer;
}

.list-trash-container i {
  margin: 8px;
  cursor: pointer;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
border:none;
outline:none;
}

.list-cards {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 4px;
  padding: 0 4px;
}

.card-title {
  user-select: none;
}

.trello-new-card-title-input {
  width: 100%;
  margin-bottom: 4px;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  height: 54px;
  border: none;
  box-shadow: none;
}

.card {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 6px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  overflow: auto;
  padding: 6px 8px 4px;
}

.card div {
  margin-bottom: 5px;
}

#card-edit {
  display: none;
  position: absolute;
  width: 600px;
  z-index: 15;
  top: 50px;
  left: 50%;
  margin: 0px 0 0 -300px;
  /* padding: 50px; */
  border-radius: 3px;
  background-color: #D2D7DF;
}

#card-edit div {
  margin-bottom: 10px;
}

#card-edit label {
  display: inline-block;
  width: 100px;
  margin-right: 20px;
}

#card-edit-inputs input {
  font-family: 'Lato', sans-serif;
  width: 300px;
}


#card-edit-close {
  float: right;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.container{
  margin:auto;
}

#container-main {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 10;
}

.navigation-bar {
  background: black;
  color: white;
  font-family: "Times New Roman", Georgia, Serif;
  line-height: 60px;
  padding: 10px;
  font-size: 50px;
  text-align: center;
  overflow: hidden;
  padding: 5px;
  z-index: 10;
}

#card-edit-close img {
  width: 20px;
  height: 20px;
}

#card-edit-delete {
  transition: .3s ease-in-out;
  width: 300px;
  height: 60px;
  margin: 0px !important;
  padding: 0px;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-size: 1.1em;
  border-radius: 0px 0px 0px 3px;
}

#card-edit-submit {
  transition: .3s ease-in-out;
  width: 300px;
  height: 60px;
  margin: 0px !important;
  padding: 0px;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-size: 1.1em;  
  border-radius: 0px 0px 3px 0px;
}

input[type="date"]::-webkit-clear-button {
  display: none;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: #95a5a6;
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(../images/calendaricon.svg) no-repeat;
  cursor: pointer;
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  padding: 5px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"], focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

#trello-title-board {
  padding: 10px 8px;
  font-size: 18px;
  line-height: 30px;
  color: #f6f6f6;
  font-weight: bold;
  user-select: none;
}

#trello-canvas-board {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.homeContainer{
  display: block;
  margin: auto;
  text-align: center;
}

#logo-display{
  text-align:center;
  font-family: 'Damion', cursive;
  color: #3caff0;
  font-size: 20vw;
  margin:0;
  margin-top:5%;
}

#logo-slogan{
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  text-align: center;
  margin-top: -30px;
  margin-bottom:7%;
  font-size: 3vw;
  
}

.startBtn {
  margin:auto;
  text-transform:uppercase;
  display:inline-block;
  text-align:center;
  width:270px;
  padding:14px 0px;
  border:3px solid #3CAFF0;
  border-radius:2px;
  position:relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
}

.startBtn a{
  font-size:18px;
  letter-spacing:2px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color:white;
  text-decoration: none;
}
    .startBtn:before{
      -webkit-transition:0.5s all ease;
      transition:0.5s all ease;
      position:absolute;
      top:0;
      left:50%;
      right:50%;
      bottom:0;
      opacity:0;
      content:'';
      background-color:#3CAFF0;
      z-index:-2;
    }

    .startBtn:hover:before{
      -webkit-transition:0.5s all ease;
      transition:0.5s all ease;
      left:0;
      right:0;
      opacity:1;
    }

    .startBtn:focus:before{
      transition:0.5s all ease;
      left:0;
      right:0;
      opacity:1;     
    }

    .startBtn:hover, .startBtn:focus{
      cursor: pointer;
    }

.img-logo{
  max-width: 28px;
  cursor: pointer;
  user-select: none;
}

  /*DASHBOARD CSS*/

  .boardGrid{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-top:20px;
  }

  .boardName{
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight:600;
    vertical-align: middle;
    line-height: 180px;
    user-select: none;
  }
  
  .boardNew{
    color:white;
    font-family: 'Lato', sans-serif;
    font-weight:600;
    margin:20px;
    opacity:0.8;
    user-select: none;
  }

  .boardBox{
    background-color: #3CAFF0;
    width: 200px;
    margin: 20px;
    text-align: center;
    height: 200px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius:10px;
    transition: .3s ease-in-out;
    position:relative;
  }

  .boardBox:hover{
    cursor: pointer;
    background:#3caef0e0;
  }

  .fa-pencil-alt{
    transition: .3s ease-in-out;
    color:white;
    position:absolute;
    right:10px;
  }

  .fa-times{
    color:white;
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 5px;
  }

  .fa-pencil-alt:hover, .fa-times:hover{
    color:rgba(255, 255, 255, 0.735);
    /* background:rgba(255, 255, 255, 0.735);
    padding:3px;
    border-radius:5px; */
  }

  .boardBox .fa-plus-circle{
    color:white;
    font-size:60px;
    opacity:0.7;
  }

  /*MODAL*/
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(45, 54, 71, 0.625); /* Fallback color */
}
.modal-title{
  text-align: center;
  color: #3CAFF0;
  margin-top:20px;
  user-select: none;
}
/* Modal Content */
.modal-content {
  background-color: #D2D7Df;
  margin: auto;
  /* padding: 20px; */
  border: 1px solid #2D3647;
  width: 30%;
  border-radius:5px;
  text-align:center;
  position:relative;
}

.modal-btn{
  width:50%;
  line-height:40px;
  color:white;
  cursor:pointer;
  transition: .3s ease-in-out;
}

#boardTitleText, #editTitleText{
  text-align: center;
  width: 250px;
  height: 25px;
  margin: 20px;
  font-size: 20px;
  color: #2D3647;
  border: none;
  border-radius: 5px;
  margin-top:20px;
  margin-bottom:20px;
  user-select: none;
}

.button-box{
  height: 40px;
  border-radius: 5px;
  flex-direction: row;
  display: flex; 
  user-select: none;
}

.no-bg:hover{
  background: rgb(181, 64, 66);
  cursor: pointer;
}

.yes-bg:hover{
  background-color: rgb(121, 191, 132);
  cursor: pointer;
}

.card-textbox{
  min-width: 360px;
  max-width: 360px;
  max-height: 270px;
  min-height: 20px;
  font-family: 'Lato', sans-serif;
}

#close {
  cursor: pointer;
}

.modal-title-card{
  padding-bottom: 40px;
  text-align: center;
  padding: 30px 50px;
  font-family: 'Damion', sans-serif;
  color: #3CAFF0;
  user-select: none;
}

#card-edit-inputs {
  padding-bottom: 20px;
}


#card-edit-close {
  transition: .3s ease-in-out;
  font-size: 20px;
  user-select: none;
}

#card-edit-close:hover{
  color: #5f5f5f;
}

.button-box-card{
  width: 600px;
  height: 60px;
  margin-bottom: 0 !important;
  display: flex;
  flex-direction: row;
  user-select: none;
}

.modal-form {
  padding-left: 40px;
  padding-right: 40px;
  user-select: none;
}

.desc-box {
  min-width: 360px;
  max-width: 360px;
  min-height: 50px;
  max-height: 50px;
  font-family: 'Lato', sans-serif;  
}

.color-box{
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content: center;
}
.c-box{
  width:20px;
  height:20px;
  margin:10px 5px;
  border-radius:5px;
  cursor:pointer;
  transition:0.2s ease-in-out;
}

.c-box:hover{
  border-radius:50%;
}




.c-blue, #c-blue{background-color: #3CAFF0 !important;}
.c-pink, #c-pink{background-color:#F06291 !important;}
.c-green, #c-green{background-color: #8BC34A !important;}
.c-orange, #c-orange{background-color: #F8971C !important;}


/* CHAT CSS */

h2{
  font-size: 18px;
  padding: 10px 20px;
  color: #2D3647;
}

#chat{
  min-width: 300px;
  max-width: 600px;
  float: right;
  height: 100%;
  display: block;
}



#chat-window{
  overflow: auto;
  background: #f9f9f9;
  height: 85%;
}

#output p{
  padding: 14px 0px;
  padding-bottom: 10px;
  margin: 0 20px;
  color: #555;
  border-bottom: 1px solid #e9e9e9;
}


#feedback p{
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}


label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

.message-input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
}

#message {
  font-family: 'Lato', sans-serif;
}

.message-btn{
  transition: .3s ease-in-out;
  color: #fff;
  font-size: 25px;
  border: 0;
  padding: 10px 0;
  width: 100%;
  font-family: 'Damion', sans-serif;
  height: 10%;
}

.message-btn:focus {
  outline: none;
}

.message-btn:hover{
  background-color: rgb(47, 155, 218);
}


.darkblue-bg {
  background-color: #2D3647;
}

.darkblue-text {
  color: #2D3647;
}


.username-style {
  font-family: 'Lato', sans-serif;
}

#split-bar {
  background-color:#D2D7DF;
  float: right;
  width: 4px;
  cursor: col-resize;
}

.left {
  width: 90%;
}

#chat-container {
  right: 0;
  position: absolute;
  display: block;
}

.timestamp {
  font-size: 11px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  /* display: inline-block; */
}

/* Tooltip text */
.tooltip .tooltiptext {
  opacity: 0;
  transition: .3s ease-in-out;
  visibility: hidden;
  width: 120px;
  background-color: #2D3647;
  color: #f9f9f9;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}

#main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}